<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img
        src="logo.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Brainiacs
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto text-end">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
            aria-label="Home page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/users/list"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
            aria-label="List of users"
            >List of smart guys</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" aria-label="Help">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
