<table class="table table-striped">
  <thead>
    <tr>
      <th class="bg-secondary text-light text-center">Id</th>
      <th class="bg-secondary text-light"></th>
      <th class="bg-secondary text-light">First name</th>
      <th class="bg-secondary text-light">Last name</th>
      <th class="bg-secondary text-light">Email</th>
      <th class="bg-secondary text-light"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      app-table-row
      *ngFor="let user of users"
      [user]="user"
      (edit)="editUserEvent(user)"
      (delete)="deleteUserEvent(user.id!)"
    ></tr>
  </tbody>
</table>
